.header {
    background: linear-gradient(45deg, black, #2a083b);
    color: white;
    text-align: center;
    padding: 30%;
}

body {
    margin: 0;
    background-color: #cfbac9;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    /* background: #cfbac9; */
    width: 90%;
    text-align: right;
    transition-property: background-color;
    transition-duration: 0.3s;

}

div.navbar > a, table > tbody > tr > a {
    color: white;
    font-size: 20px;
}
div.navbar > a {
    padding: 15px;
}

table > tbody > tr > a {
    padding:0px;
}

table {
    text-align: center;
}
div.navbar > a, table > tbody > tr > a {
    transition-property: background-color;
    transition-duration: 0.3s;

}

div.navbar > a:hover, table > tbody > tr > a:hover{
    background-color:white;
    color:#000000;
}